
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheetStat.css">
    <title>Статистика игр крестики-нолики</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th><p>Дата и время игры</p></th>
                <th><p>Результат</p></th>
                <th><p>Фигура игрока</p></th>
                <th><p>Количество ходов игрока</p></th>
            </tr>
            @foreach (var s in ViewBag.Stats)
            {
                <tr>
                    <td><p>@s.GameData</p></td>
                    <td>
                        <p>
                            @switch ((int)s.GameResult)
                            {
                                case 0:
                                    @:Победа игрока
                                    break;
                                case 1:
                                    @:Проигрыш игрока
                                    break;
                                case 4:
                                    @:Ничья
                                    break;
                                case 2:
                                    @:Игрок X выиграл
                                    break;
                                case 3:
                                    @:Игрок O выиграл
                                    break;
                            }
                        </p>
                    </td>
                    <td>
                        <p>
                            @switch ((bool)s.PlayerFigureX)
                            {
                                case true:
                                @:Крестик
                                break;
                                case false:
                                @:Нолик
                                break;
                            }
                        </p>
                    </td>
                    <td><p>@s.CountMoves</p></td>
                </tr>
            }
            <tr>
                <td colspan="4"><p>@ViewBag.WinRate</p></td>
            </tr>
        </table>
    </div>
</body>
</html>
